extends baseEmail

block content
    p Hi #{firstName},
        p Esqueceu sua senha? Submit um PATCH request com seu novo password e o passwordConfirm para: #{url}
        p {website para está ação ainda não foi implementado}
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Mudar sua senha
    p Se você não esqueceu sua senha, por favor ignore este email.